<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewall</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static '/style.css' %}">

</head>

<body>

    <div class="view-all-main">

        <!-- navbar -->
        <div>
            <nav class="navbar navbar-expand-lg navbar-dark conatiner-fluid">
                <a class="navbar-brand" href="{% url 'index' %}">College</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="{% url 'index' %}">Home <span
                                class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="{% url 'adminp' %}">Back</a>
                    </div>
                </div>
            </nav>
        </div>

        <!-- hero -->
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-2 shadow-lg">

                    <div class="row" style="height: 0px;"></div>
                    <h4 class="m-5 text-light">Teachers</h4>
                    <p class="m-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque, veniam! Cumque
                        blanditiis
                        eveniet officiis molestias distinctio adipisci nisi quam earum perferendis dolorem. Possimus
                        harum itaque nisi, deleniti nostrum laboriosam earum!</p>

                </div>
                <div class="col-lg-1"></div>

                <div class="col-lg-9 shadow-lg">
                    <h2 class="text-center text-light mt-5">View Teachers List</h2>
                    <p class="text-center text-light mt-5">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam excepturi odio quas numquam
                        explicabo harum sequi enim ipsam corrupti libero, animi, magnam neque. Culpa, hic nihil
                        obcaecati commodi quod illum!
                    </p>

                </div>
            </div>
        </div>
    </div>

    <!-- bottom main with cards -->
    <div class="view-all-main-bottom">
        <h2 class="text-center pt-4">Lists</h2>
        <div class="card-all p-5 conatiner-fluid">

            <div class="m-5">

                <!-- bottom row for list -->
                <div class="row">

                    <!-- pending teachers list -->
                    <div class="col-lg-5 p-5 shadow-lg">
                        <h4 class="text-center mb-4 text-dark border-dark border-bottom pb-2">Pending Teachers list</h4>

                        <!-- iterate ,fetch data from database -->
                        {% for i in data %}
                        {% if i.status == '0' %}
                        <div class="col-lg-4 ">
                            <div class="card shadow mt-3" style="width: 20rem;">
                                <div class="card-header text-light" style="background: rgb(22, 55, 51);">
                                    {{i.first_name}}
                                    <a href="{% url 'approveteacher' i.id %}" class="btn btn-success m-3">Approve</a>
                                    <a href="{% url 'deladminteacher' i.id %}" class="btn btn-danger">Reject</a>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{i.second_name}}</li>
                                    <li class="list-group-item">{{i.user_name}}</li>
                                    <li class="list-group-item">{{i.address}}</li>
                                    <li class="list-group-item">{{i.email}}</li>
                                    <li class="list-group-item">{{i.phone}}</li>
                                    <li class="list-group-item">{{i.department}}</li>
                                    <li class="list-group-item">{{i.year}}</li>

                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <!-- approved teachers list -->
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5 mt-2 p-5 shadow-lg">
                        <h4 class="text-center mb-4 text-success border-bottom border-dark pb-2">Approved Teachers list</h4>
                        {% for i in data %}
                        {% if i.status == '1' %}
                        <div class="col-lg-6 ">
                            <div class="card mt-3 shadow" style="width:20rem;">
                                <div class="card-header text-light" style="background: rgb(22, 55, 51);">
                                    {{i.first_name}}
                                    <a href="{% url 'deladminteacher' i.id %}" class="btn btn-danger m-2">Remove</a>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">{{i.second_name}}</li>
                                    <li class="list-group-item">{{i.user_name}}</li>
                                    <li class="list-group-item">{{i.address}}</li>
                                    <li class="list-group-item">{{i.email}}</li>
                                    <li class="list-group-item">{{i.phone}}</li>
                                    <li class="list-group-item">{{i.department}}</li>
                                    <li class="list-group-item">{{i.year}}</li>

                                </ul>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

</body>

</html>