@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* default */
.font-family {
    font-family: 'poppins', sans-serif;
}

.br {

    border-radius: 15px;
}

.br-n {
    border: none;
}



/* styling for admin */

.admin-main {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(145deg, rgb(22, 22, 55), rgb(22, 22, 70));
    font-family: 'poppins', sans-serif;
}

.admin-cards{
    background-image: linear-gradient(160deg, rgb(22, 22, 55) 0%, rgb(22, 22, 70)50%,rgb(25, 13, 96) 50%,rgb(34, 17, 111) 100%);
    color: #fff;
    height: 150px;
}
.admin-cards a{
    width: 120px;
    border-radius: 15px;
    border: none;
}

.admin-cards a:hover{
    background-color: green;
}


/* styling for student */
.st-main {
    min-height: 1000px;
    width: 100%;
    background-image: linear-gradient(50deg, rgb(156, 185, 189), rgb(235, 217, 180));
}

.st-name {
    height: 80%;
    height: 140px;
    background-color: rgb(49, 217, 161);
    border-radius: 17px;
}

.st-container {
    background-image: linear-gradient(50deg, rgb(162, 198, 214), rgb(224, 216, 197));
}

.st-left {
    background-color: #fff;
}

.st-data {
    height: 240px;
    background-color: rgb(255, 255, 255);
    border-radius: 17px;
}


/* styling for hod */
.hod-main {

    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(145deg, rgb(22, 22, 55), rgb(22, 22, 70));
}

.hod-left {
    min-height: 540px;

}
.hod-card{
    background-color: rgb(17, 17, 67);
    color: #fff;
    border: 1px solid;
}

/* styling for teacher */
.teacher-main {

    width: 100%;
    height: 100%;
    background-image: linear-gradient(215deg, rgb(223, 191, 191), rgb(73, 58, 58));
}

.teacher-container {
    background-image: linear-gradient(215deg, rgb(223, 191, 191), rgb(73, 58, 58));
}

/* styling for form */
.reg-container-main {
    background-image: linear-gradient(145deg, rgb(22, 22, 55), rgb(22, 22, 70));
    min-height: 100vh;
}


.view-hod-main {
    background-image: linear-gradient(145deg, rgb(37, 37, 108), rgb(22, 22, 70));
    min-height: 100vh;
}

.view-container {

    min-height: 700px;
}



.overflow {
    border-right: 5px solid;
    border-color: orangered;
    border-radius: 8px;
    display: flex;
    overflow: scroll;
}

.overflow::-webkit-scrollbar {
    display: none;
}

.card-view {
    background-image: linear-gradient(145deg, rgb(47, 47, 77), rgb(50, 6, 75));
    border: 1px solid;
    border-color: #fff;
    color: #fff;

    min-height: 300px;
}

.teacher-view-main {
    color: #fff;
    background-image: linear-gradient(145deg, rgb(22, 22, 55), rgb(22, 22, 70));
    min-height: 100vh;

}

.card-teacher {
    border: 1px solid;
    border-color: black;
}

.card:hover {
    box-shadow: rgba(255, 172, 28, 0.199) -10px 10px, rgba(255, 172, 28, 0.19) -20px 20px;
}

.view-all-main {
    min-height: 90vh;
    background: linear-gradient(14deg, rgb(232, 220, 220) 0%, rgb(243, 235, 235) 50%, rgb(22, 55, 51)50%, rgb(22, 62, 70)100%);

}

.view-all-main-bottom {
    min-height: 300px;
    background: linear-gradient(14deg, rgb(232, 220, 220) 0%, rgb(243, 235, 235) 50%, rgb(232, 220, 220)50%, rgb(243, 235, 235) 100%);

    }

.approved-students{
    min-height: 500px;
    margin-bottom: 40px;
}



/* profile styling */

.profile-main-row{
    height: 600px;
    border-radius: 25px;  
}

.profile-body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    height: 100vh;
    
}
.edit-profile{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    min-height: 100vh;
    
}
.ul-font{
    font-size: large;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* leave */

.leave-main{
    min-height: 100vh;
    background-color: #1d2021;
}
.box{
    min-height: 600px;
    border: 1px solid;
    border-color: #fff;
}

.h{
height: 700px;
}